.appointment {
  outline: 1px solid rgb(3, 238, 140);
}

.appointment__image {
  width: 100%;
  height: auto;
}

.appointment__wrapper {
  width: 100%;
  height: auto;
  padding: 5%;
}

.appointment__heading {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 6px;
}

.appointment__text {
  padding-bottom: 3px;
  font-size: 0.88rem;
  text-transform: uppercase;
  text-align: center;
}

.appointment__form {
  display: flex;
  flex-direction: column;
}
