.appointment {
  outline: 1px solid rgb(3, 238, 140);
  padding-top: 55px;
}

.appointment__image {
  width: 100%;
  height: auto;
}

.appointment__wrapper {
  width: 100%;
  height: auto;
  padding: 17px 9%;
}

.appointment__heading {
  padding-bottom: 6px;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.appointment__text {
  padding-bottom: 12px;
  font-size: 0.88rem;
  text-transform: uppercase;
  text-align: center;
}

.appointment__form {
  display: flex;
  flex-direction: column;
}

.appointment__form > input {
  padding-top: 29px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #363636;
  outline: none;
}

.appointment__form > input::placeholder {
  padding-left: 10px;
  padding-bottom: 10px;
  font-style: italic;
  color: #363636;
}

.appointment__form > input:focus {
  border: none;
  border-bottom: 1px solid #363636;
}

.appointment__form > input:last-of-type {
  margin-bottom: 23px;
}

.appointment__form > input[type="date"]::-webkit-datetime-edit {
  padding-left: 10px;
  color: #363636;
  font-style: italic;
}

.appointment__form > button {
  align-self: center;
  width: 92px;
  padding: 11px 0;
  border: 3px solid #0078ab;
  border-radius: 12px;
  font-weight: 700;
  text-align: center;
  font-size: 0.9rem;
  background-color: #0078aa;
  color: #fff;
}

.appointment__form > button:hover {
  background-color: #fff;
  color: #0078aa;
  border: 3px solid #0078ab;
}

@media (min-width: 768px) {
  .appointment {
    display: flex;
    flex-direction: row;
    padding-top: 45px;
  }

  .appointment__image {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: 10% 0;
  }

  .appointment__wrapper {
    width: 50%;
    padding: 57px 4% 60px 4%;
  }

  .appointment__heading {
    text-align: left;
  }

  .appointment__text {
    text-align: left;
  }

  .appointment__form > button {
    align-self: start;
  }
}

@media (min-width: 1280px) {
  .appointment {
    padding-top: 77px;
  }

  .appointment__wrapper {
    padding: 63px 2% 60px;
  }
}
